<div id="main" role="main">
  <div id="content" class="site-content">
    <div id="primary" class="content-area">
      <article
        id="post-16"
        class="post-16 page type-page status-publish hentry"
      >
        <header class="entry-header">
          <h1 class="entry-title">About</h1>
        </header>
        <!-- .entry-header -->
        <div class="entry-content">
          <div class="about">
            <div>
              <!-- <div>
                <img
                  src="/images/about-1.jpg"
                />
              </div> -->
              <div>
                <img
                  src="/images/about-2.jpg"
                />
              </div>
              <!-- <div>
                <img
                  src="/images/about-3.jpg"
                />
              </div>
              <div>
                <img
                  src="/images/about-4.jpg"
                />
              </div>
              <div>
                <img
                  src="/images/about-5.jpg"
                />
              </div>
              <div>
                <img
                  src="/images/about-6.jpg"
                />
              </div> -->
              </div>
            </div>
            <section class="about__section about__grid">
              <h1>Things to know about me</h1>
              <ul class="row">
                <li class="col-md-12">
                  Beyond my passion for all things UX, here some fun facts about me that will  give you a better sense of who I am and how I collaborate as a member of a team:
                </li>
                <li class="col-md-12">
                  I enjoy connecting people. When you bring the right group together, powerful and innovative things can happen. Over the past 8 years, I have planned many successful events, primarily focused on engaging the UX community and on connecting local and international communities.
                </li>
                <li class="col-md-12">
                  I love to travel and learn about different cultures, customs and languages. Opening my mind to other perspectives and ways of doing things continues to help me grow personally and professionally.
                </li>
                <li class="col-md-12">
                  I’m always ready to eat! Food is a passion of mine. Luckily, I also enjoy cooking and experimenting in the kitchen. Sharing food is a great way to connect with others, and I promise not to take the last bite.
                </li>
                <li class="col-md-12">
                  I absolutely adore dogs. One of the best things in life is spending time with my dog Layla...or any dog for that matter.
                </li>
              </ul>
            </section>
            <section class="about__section about__grid">
              <h1>Education</h1>
              <ul class="row">
                <li class="col-md-12">
                  Boulder Digital Arts,
                  UX/UI Design Certificate
                </li>
               <li class="col-md-12">
                  University of Malta,
                  M.S. Mediterranean Studies
                </li>
                <li class="col-md-12">
                  George Mason University,
                  M.A. Conflict Analysis and Resolution
                </li>
                <li class="col-md-12">
                  University of Massachusetts,
                  B.A. African American Studies
                </li>
              </ul>
            </section>
            <section class="about__section about__grid">
              <h1>Event Coordination</h1>
              <ul class="row">
                <li class="col-md-12">
                  UX Happy Hour in Pittsburgh, 2017  - present
                </li>
                <li class="col-md-12">
                  UX Happ Hour in Denver, 2014 - 2016
                </li>
                <li class="col-md-12">
                  Denver UX Meetup  - 2014 - 2016
                </li>
                <li class="col-md-12">
                  International Potluck Group in Pittsburgh, 2017 - present
                </li>
                <li class="col-md-12">
                  International Potluck Group in Denver, 2014 - 2016
                </li>
              </ul>
            </section>
            <!-- <section style="margin-bottom:5em" class="about__section about__grid">
         <p style="text-align: center; margin-top: 1em">
            <a
              class="btn btn-primary"
              href="/pdfs/becky-sable-resume.pdf"
              download=""
              >Download My Resume</a
            >
          </p>
              </section> -->
          </div>
        </div>
        <!-- .entry-content -->
      </article>
      <!-- #post-## -->
    </div>
  </div>
  <!-- #content -->
</div>
