<div id="main" class="site-main" role="main">
    <div id="container" class="site-content">
        <div id="primary" class="row">
            <div class="card col-md-3" style="width: 18rem;">
                <img width="480" height="480" src="/images/adp.png" class="card-img-top" src="" alt="Card image cap">
                <div class="container">
                    <div class="card-body row justify-content-md-center">
                        <h2 class="card-title col-md-12 text-center">ADP</h2>
                        <a href="/adp.html" class="btn btn-primary col-md-12">View</a>
                    </div>
                </div>

            </div>
            <div class="card col-md-3" style="width: 18rem;">
                <img src="/images/Mockup-Generated-by-Dunnnk-480x480.jpg" class="card-img-top" src="" alt="Card image cap">
                <div class="container">
                    <div class="card-body row justify-content-md-center">
                        <h2 class="card-title col-md-12 text-center">TX</h2>
                        <a href="/tx.html" class="btn btn-primary col-md-12">View</a>
                    </div>
                </div>
            </div>
            <div class="card col-md-3" style="width: 18rem;">
                <img src="/images/home-meetup-480x480.jpg" class="card-img-top" src="" alt="Card image cap">
                <div class="container">
                    <div class="card-body row justify-content-md-center">
                        <h2 class="card-title col-md-12 text-center">Meetup</h2>
                        <a href="/meetup.html" class="btn btn-primary col-md-12">View</a>
                    </div>
                </div>
            </div>
            <div class="card col-md-3" style="width: 18rem;">
                <img src="/images/pexels-photo-401.png" class="card-img-top" src="" alt="Card image cap">
                <div class="container">
                    <div class="card-body row justify-content-md-center">
                        <h2 class="card-title col-md-12 text-center">Landdox</h2>
                        <a href="/landdox.html" class="btn btn-primary col-md-12">View</a>
                    </div>
                </div>
            </div><!-- .portfolio-grid -->
        </div>
    </div>