<div id="main" class="site-main" role="main">
    <div id="container" class="site-content">
        <div id="primary" class="row justify-content-md-center">
            <div class="card col-md-3" style="width: 18rem;">
                <img src="/images/adp.png" class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">ADP</h2>
                    <a href="/adp.html" class="btn btn-primary">View</a>
                </div>
            </div>
            <div class="card col-md-3" style="width: 18rem;">
                <img src="/images/Mockup-Generated-by-Dunnnk-480x480.jpg" class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">TX</h2>
                    <a href="/tx.html" class="btn btn-primary">View</a>
                </div>
            </div>
            <div class="card col-md-3" style="width: 18rem;">
                <img src="/images/home-meetup-480x480.jpg" class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Meetup</h2>
                    <a href="/meetup.html" class="btn btn-primary">View</a>
                </div>
            </div>
            <div class="card col-md-3" style="width: 18rem;">
                <img src="/images/pexels-photo-401.png" class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">Landdox</h2>
                    <a href="/landdox.html" class="btn btn-primary">View</a>
                </div>
            </div>


        </div><!-- .portfolio-grid -->
    </div>
</div>