<div id="main" role="main">
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <article id="post-2" class="post-2 page type-page status-publish hentry">
                <header class="entry-header">
                    <h1 class="entry-title">Home</h1>
                </header><!-- .entry-head  er -->
                <div style="padding:0px" class="container">
                    <h2 class="row justify-content-md-center" style="font-weight: normal;margin-left:0px;margin-top:1em;margin-bottom:1em;padding-left:30px;padding-right:30px">Hello! I am a creative and
                        observant UX Designer who loves to solve design problems.
                        My specialties are UX Design, Research &amp; Conflict Resolution.</h2>
                    <img style="margin-top:1em" class="alignnone size-full wp-image-194 vspacer-3" style="margin-top:2em" src="/images/cropped-becky-website-final.jpg"
                        alt="cropped-becky-website-final" width="3253" height="1257" sizes="(max-width: 3253px) 100vw, 3253px">
                    <p style="text-align: center;">
                    </p>
                    <div id="container" 
                    style="background-color:#d3d3d370"
                    class="site-content">
                    <div style="margin-top:3em">
                    <h1 class="vspacer-3" style="padding-top:1em;padding-left:17px">
                            My Work</h1>
                        <div id="primary"  class="row">
                            <div class="card col-md-3">
                                <a href="/dicks.html">
                                    <img width="480" height="480" src="/images/dicks-sporting-goods (1).png" class="card-img-top" src="" alt="Card image cap">
                                <div class="container">
                                    <div class="card-body row justify-content-md-center">
                                        <h2 class="card-title col-md-12 text-center">Dick's Sporting Goods</h2>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="card col-md-3">
                                <a href="/adp.html">
                                    <img width="480" height="480" src="/images/adp.png" class="card-img-top" src="" alt="Card image cap">
                                <div class="container">
                                    <div class="card-body row justify-content-md-center">
                                        <h2 class="card-title col-md-12 text-center">ADP</h2>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="card col-md-3">
                                <a href="/tx.html">
                                    <img src="/images/Mockup-Generated-by-Dunnnk-480x480.jpg" class="card-img-top" src="" alt="Card image cap">
                                <div class="container">
                                    <div class="card-body row justify-content-md-center">
                                        <h2 class="card-title col-md-12 text-center">TX</h2>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="card col-md-3">
                                <a href="/meetup.html">
                                    <img src="/images/home-meetup-480x480.jpg" class="card-img-top" src="" alt="Card image cap">
                                <div class="container">
                                    <div class="card-body row justify-content-md-center">
                                        <h2 class="card-title col-md-12 text-center">Meetup</h2>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="card col-md-3">
                                <a href="/landdox.html">
                                    <img src="/images/pexels-photo-401.png" class="card-img-top" src="" alt="Card image cap">
                                <div class="container">
                                    <div class="card-body row justify-content-md-center">
                                        <h2 class="card-title col-md-12 text-center">Landdox</h2>
                                    </div>
                                </div>
                                </a>
                            </div><!-- .portfolio-grid -->
<!-- .portfolio-grid -->
                        </div>
                    </div>
                </div><!-- .entry-content -->
            </article><!-- #post-## -->
        </div>
    </div><!-- #content -->
</div>